.jumbotron {
    background-image: linear-gradient( to right,blue, red, yellow);
    color: white;
    text-shadow: 2px 1px black;
    text-align: center;
}

.mystic{
    background:linear-gradient(blue, black);
    color: white;
    text-shadow: 2px 1px black;
    text-align: center;
}

.valor{
    background: linear-gradient(red,black);
    color: white;
    text-shadow: 2px 1px black;
    text-align: center;
}

.instinct{
    background: linear-gradient(yellow, black);
    color: white;
    text-shadow: 2px 1px black;
    text-align: center;
}

img {
    border: 0px solid #ddd;
    border-radius: 4px;
    padding: 5px;
  }

.ex-card{
    flex: 1 150px;
    padding: 2px 2px 2px 2px;
    align-items: center;
}

.btn-ex{
    width: 100%;
}

.producto{
    color: white;
    background: linear-gradient(gray,black);
}

address { 
    display: block;
    font-style: italic;
  }

footer{

}